{% extends 'base.html.twig' %}

{% block content %}
	{{ form_start(form) }}
	    {{ form_row(form.username) }}
	    {{ form_row(form.email) }}
	    {{ form_row(form.plainPassword.first) }}
	    {{ form_row(form.plainPassword.second) }}
		{{ form_row(form.IdUserGroup) }}
	    <button class="btn-large btn-flat" type="submit" name="submitBtn">Registrame!</button>
	{{ form_end(form) }}
{% endblock %}